<h3 class="center">under construction!</h3>

<section class="field-16-bottom">
  <div class="document">
    <fieldset>
      <legend class="center" data-qa="pageFour">DATE MODULE</legend>
      <p class="center" >with controlValueAccessor and Validators</p>
      <form [formGroup]="form" class="center">
        <app-dob formControlName="dob" (keyup)="onChangeData($event)" (blur)="onBlurData($event)"></app-dob>
      
        <div *ngIf="dob.invalid && (dob.touched || dob.dirty)">
          <div *ngIf="dob.errors.formTouched">
              <small *ngIf="dob.errors.formTouched.leapError" class="errorText">
                  Leap error!
                </small>
                <small *ngIf="dob.errors.formTouched.dayFormat" class="errorText">
                  Wrong day!
                </small>
                <small *ngIf="dob.errors.formTouched.monthFormat" class="errorText">
                  Wrong month!
                </small>
                <small *ngIf="dob.errors.formTouched.yearFormat" class="errorText">
                  Wrong year!
                </small>
                <small *ngIf="dob.errors.formTouched.invalidDate" class="errorText">
                  Invalid date!
                </small>
          </div>
         
        </div>
      </form>
      <div class="center">
        Valid (form.controls.dob): {{form.controls.dob.valid}}
      </div>
      <div class="center">
        Valid (form.valid): {{form.valid}}
      </div>
      <div class="center">
        Form: {{form.controls.dob.value[0]}} - {{form.controls.dob.value[1]}} - {{form.controls.dob.value[2]}}
      </div>
      <div class="center">
        Touched: {{form.controls.dob.touched}}
      </div>
      <div class="center">
        Pristine: {{form.controls.dob.pristine}}
      </div>
      <div class="center">
        Dirty: {{form.controls.dob.dirty}}
      </div>

    </fieldset>
  </div>
</section>

<section class="field-16-bottom">
  <div class="document">
    <fieldset>
      <legend class="center" data-qa="pageFour">Emails module</legend>
      <p class="center" >with controlValueAccessor and Validators</p>
      <form [formGroup]="form">
        <app-emails-group formControlName="emails" [parentEvent]="event" (keyup)="onChangeDataEmails($event)" (blur)="onBlurDataEmails($event)"></app-emails-group>         
        <div class="center">
          Valid (form): {{form.valid}}
        </div>
        <div class="center">
          Valid (emails.valid): {{emails.valid}}
        </div>
        <div class="center">
          Form: {{emails.value[0]}} - {{emails.value.email}} - {{emails.value.confirm}}
        </div>
        <div class="center">
          Touched: {{emails.touched}}
        </div>
        <div class="center">
          Pristine: {{emails.pristine}}
        </div>
        <div class="center">
          Dirty: {{emails.dirty}}
        </div>
      </form>
    </fieldset>
  </div>
</section>

<div *ngIf="errorForm" class="alert alert-danger">
  <small>
   Form not completed
  </small>
</div>


<div class="center">
  <div class="btn-group center-element">
    <button type="button" name="back" (click) = "onBack()" class="btn btn-default btn-sm">Back</button>
    <button type="button" name="next" (click) = "onClick()" class="btn btn-primary btn-sm">Continue</button>
  </div>
</div>

