<fieldset [formGroup]="form">
  <div class="form-group col-xs-3">
    <label for="autocomplete">AUTOCOMPLETE</label>
    <input type="text" id="additional_YES" formControlName="autocomplete" class="form-control" (keyup)="keyup($event.target.value)">
    <div *ngIf="displayList" class="position" >
      <div *ngFor="let item of cities | autocomplete:filter">
        <div class="borderItem pointer" (click)="selectValue(item.displayCity)">
          {{item.displayCity}}
        </div>
      </div>
    </div>
  </div>
</fieldset>